In [33]:
import sys,os
sys.path.append(os.path.abspath(".."))

from data.uci.loader import load_uci_data
from data.uci.feature_mapper import map_uci_features
from data.uci.label_mapper import map_uci_label

uci_df = load_uci_data("../data/raw/uci/uci_data.xls")
X = map_uci_features(uci_df)
y = map_uci_label(uci_df)

X.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,any_delinquency,max_delay,avg_delay,total_bill,total_paid,payment_ratio
0,20000,2,2,1,24,1,2,0.666667,7704,689,0.089422
1,120000,2,2,2,26,1,2,0.666667,17077,5000,0.292774
2,90000,2,2,2,34,0,0,0.000000,101653,11018,0.108387
3,50000,2,2,1,37,0,0,0.000000,231334,8388,0.036259
4,50000,1,2,1,57,0,0,0.000000,109339,59049,0.540049